fastapi
uvicorn
crewai
crewai-tools
langchain-anthropic
numpy
langfuse
openinference-instrumentation-crewai
opentelemetry-api
opentelemetry-sdk
python-dotenv
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
opentelemetry-exporter-otlp-proto-http
litellm>=1.65.0
